.explore-container {
  text-align: center;
  height: 85vh;
  overflow-y: hidden;
}

h1 {
  font-size: 5em;
}

h2 {
  display: inline-block;
  margin: 0;
}

h3 {
  margin-left: 0;
  display: inline-block;
  font-size: 1.2em
}

.project-title {
  position: relative;
  margin: 100px 0 0 auto;
}

.btn-container {
  text-align: center;
  margin-top: 40px;
}

.btn-position {
  width: 100%;
  height: 80px;
  padding-top: 20px;
}

.explore {
  margin-top: auto;
  margin-left: auto;
  position: relative;
  text-decoration: none;
}

.explore:hover {
  padding: 10px 30px 10px 30px;
}

.project-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.dark-overlay {
  width: 100%;
  height: 85vh;
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
}

.work-text-container {
  height: 100vh;
  padding: 0 25px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.heading-container {
  width: 35%;
  margin-top: 120px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.body-text-container {
  position: relative;
  margin-top: 130px;
  width: 55%;
  display: inline-block;
}

.info-container {
  width: 100%;
  background-color: rgb(17, 17, 17);
}

.info-align {
  margin-left: 80px;
}

.line {
  width: 88%;
  height: 10vh;
  border-bottom: 2px solid;
  border-color: rgb( 23, 203, 200);
}

.list-container {
  padding-right: 80px;
  display: inline-block;
  vertical-align: top;
}

.info-list {
  position: relative;
  right: auto;
  width: auto;
}

.info-item {
  display: flex;
  line-height: 60px;
  padding: 0 0 0 0;
  font-family: 'catamaran';
  font-size: 1.4rem;
  color: rgb(210, 210, 210);
}

.info-heading {
  font-size: 2.3em;
  margin-top: 70px;
}

.screen-container {
  margin-top: 200px;
}

.screen-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.screen-img-container {
  display: inline-block;
  width: 40%;
  height: 70%;
}

.screen-info {
  width: 45%;
  display: inline-block;
}

.screen-info h2 {
  margin: 35px 0;
  font-size: 2.5em;
}

@media only screen and (max-width: 731px) {
  .heading-container {
    display: block;
    width: auto;
  }

  .body-text-container {
    width: 85%;
    margin-top: 80px;
  }

  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }
}
