* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
    font-family: 'gothic';
    src: url('Fonts/GOTHIC.eot');
    src: url('Fonts/GOTHIC.eot?#iefix') format('embedded-opentype'),
         url('Fonts/GOTHIC.woff') format('woff'),
         url('Fonts/GOTHIC.ttf')  format('truetype'),
         url('Fonts/GOTHIC.svg#Century Gothic') format('svg');
}

@font-face {
    font-family: 'gothicbold';
    src: url('Fonts/GOTHICB.ttf')  format('truetype');
}

@font-face {
  font-family: 'lato-thin';
  src: url('Fonts/Catamaran-Light.ttf') format('truetype');
}

body {
  background: linear-gradient(45deg, #0b1117, #181818, #0e2732, #123e51);
  background-attachment: fixed;
}

.scrollmagic-pin-spacer {
  height: 100% !important;
  overflow-y: hidden;
}

/*-- NAVIGATION --*/
nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 5;
}

nav a {
  margin-top: 30px;
  font-size: 16px;
}

ul {
  position: absolute;
  right: 0;
  width: 70%;
  text-align: right;
  display: block;
}

li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
  padding: 0 5%;
  padding-top: 20px;
}

li a {
  text-decoration: none;
  font-family: 'gothic';
  color: white;
  letter-spacing: 4px;
  font-size: 18px;
}

.nav-logo {
  width: 400px;
  height: 65px;
  margin-left: 80px;
  line-height: 30px;
  padding-top: 5px;
  text-decoration: none;
  font-family: 'gothic';
  color: white;
  letter-spacing: 4px;
  font-size: 18px;
  position: absolute;
  top: 0px;
}

nav img {
  width: 35px;
  height: auto;
  background-size: cover;
  position: fixed;
  padding: 10px 15px;
}

.nav-toggle img {
  display: none;
}

ul li a:hover {
  color: rgb( 23, 203, 200);
}

.menu-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb( 23, 203, 200);
  transition: width .3s;
}

.menu-hover:hover::after {
  width: 100%;
  transition: width .3s;
}

/*-- SCROLL MOUSE ANIMATION--*/
.mousescroll {
  width: 100%;
  height: 80px;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 1;
}

.scrolltxt {
  font-size: 13px;
  opacity: 0;
  color: rgb(190, 190, 190);
}

.mouseshape {
  width: 22px;
  height: 35px;
  border: 1.5px solid;
  border-color: white;
  border-radius: 50px;
  margin: 0 auto;
  top: 5px;
  opacity: .6;
  position: relative;
}

.mousescroll:hover .scrolltxt {
  opacity: 1;
  transition: 0.7s;
}

.mousedot {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 5px;
  animation: moused 1.8s ease infinite;
}

@keyframes moused {
  from {
    margin-top: 5px;
    opacity: .6;
  }
  to {
    margin-top: 18px;
    opacity: 0;
  }
}

/* -- SOCIAL MEDIA LOGOS --*/
.smlogo {
  right: 0px;
  bottom: 0;
  position: fixed;
  width: 50px;
  height: 100px;
  z-index: 2;
}

.smlogo img {
  width: 30px;
  height: 30px;
  opacity: .5;
  margin-right: 5px;
  padding-top: 8px;
  padding-left: 10px;
}

.smlogo img:hover {
  opacity: .8;
  padding-left: 6px;
  transition: .3s;
}

/*--SCROLL BAR--*/
::-webkit-scrollbar{
  width: 10px;
  height: 5px;
  background: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb{
  background: rgb(90, 90, 90);
  border-radius: 6px;
}

/*-- HEADINGS AND TEXT --*/

h1 {
  font-family: 'gothicbold';
  font-size: 46px;
  color: white;
  margin-left: 80px;
  margin-top: 100px;
  letter-spacing: 8px;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease-out;
}

h1 a {
  color: rgb(92, 224, 244);
  font-size: 46px;
  margin-left: auto;
  font-family: 'gothicbold';
}

#about {
  margin-top: 250px;
}

.about-container{
  width: 100%;
  height: 120vh;
  overflow-y: hidden;
  position: relative;
}

.about-container h1 {
  margin-top: 150px;
  margin-left: 100px;
  width: auto;
  font-size: 55px;
  opacity: 0;
}

.about-container h1 a {
  font-size: 55px;
}

.about-text a {
  font-family: 'lato-thin';
  font-size: 20px;
  color: rgb(210, 210, 210);
}

.about-text {
  margin-left: 100px;
  height: 70%;
  width: 35%;
  top: 310px;
  position: absolute;
  opacity: 0;
}

.download-container {
  width: 100%;
}

.download {
  border: 2.5px solid rgb(190, 190, 190);
  border-radius: 20px;
  background: 0;
  padding: 10px 20px;
  font-size: 15px;
  font-family: 'gothic';
  letter-spacing: 4px;
  z-index: 1;
  position: absolute;
  top: 570px;
  margin-left: 100px;
  color: white;
  text-decoration: none;
}

.download:hover {
  border-color: rgb(92, 224, 244);
  color: rgb(92, 224, 244);
  transition: 0.5s;
}

.about-visuals {
  width: 60%;
  height: 100%;
  right: 0;
  overflow-y: hidden;
  position: absolute;
}

.about-visuals img {
  object-fit: contain;
  object-position: right;
  position: absolute;
}

.face-outline {
  height: 90%;
  width: 70%;
  top: 12px;
  right: 10%;
  opacity: 0;
}

.about-shape {
  height: 100%;
  width: 100%;
  right: -70px;
  top: 50px;
}

a {
  font-size: 25px;
  font-family: 'gothic';
  color: white;
}

/*-- HAND IMAGES --*/

.landing-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.topgroup {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 2s ease-out;
}

.topgroup.fade-out {
  right: -60%;
}

.bottomgroup {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0%;
  transition: all 2s ease-out;
}

.bottomgroup.fade-out {
  left: -60%;
}

.handpin {
  width: 100%;
  height: 101vh;
  position: absolute;
}

.tophand{
  width: 88%;
  height: auto;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
/*  animation: transIntop 1.5s;
  animation-delay: 1s;
  transition-timing-function: ease-out; */
}

.bottomhand {
  width: 88%;
  height: auto;
  position: absolute;
  top: 250px;
  left: 0;
  z-index: 2;
/*  animation: transInbottom 1.5s;
  animation-delay: 1s;
  transition-timing-function: ease-out; */
}

.hand-outline {
  z-index: 1;
  transition-timing-function: ease-out;
}

#topout {
  top: 90px;
  animation: transIntop1 1.6s;
  animation-delay: 1s;
}

#bottomout {
  top: 270px;
  animation: transInbottom1 1.6s;
  animation-delay: 1s;
}


#topout1 {
  top: 120px;
  opacity: 30%;
  animation: transIntop2 1.6s;
  animation-delay: 1s;
}

#bottomout1 {
  top: 290px;
  opacity: 30%;
  animation: transInbottom2 1.7s;
  animation-delay: 1.2s;
}

.scrollpoint1 {
  width: 100%;
  height: 80px;
  margin-top: 100.5vh;
}

.bg_hand {
  background-color: red;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/*--WORK--*/
/*--PROJECT01--*/
#work h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.work-text-container {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.image-container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(10,10,10,0.9) 0%, rgba(30,30,30,0.7) 18%,
  rgba(70,70,70,0.4) 33%, rgba(32,47,62,0) 64%);
}

.projectbg1 {
  width: 100%;
  height: 125%;
  object-fit: cover;
}

.projectbg2 {
  width: 100%;
  height: 125%;
  object-fit: cover;
}

.project1 {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
  overflow-y: hidden;
}

.project2 {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.explore {
  border: 2.5px solid rgb(190, 190, 190);
  border-radius: 20px;
  background: 0;
  padding: 10px 20px;
  font-size: 15px;
  font-family: 'gothic';
  letter-spacing: 4px;
  margin-top: 350px;
  margin-left: 80px;
  z-index: 2;
  position: absolute;
  color: white;
}

.explore:hover {
  padding: 10px 40px;
  padding-left: 25px;
  border-color: rgb(92, 224, 244);
  color: rgb(92, 224, 244);
  transition: 0.5s;
}

.btn-arrow {
  width: 18px;
  height: 18px;
  position: absolute;
  padding-left: 5px;
  opacity: 0;
  filter: grayscale(100%);
}


.btn-hover:hover .btn-arrow {
  padding-left: 15px;
  opacity: 1;
  filter: none;
  transition: 0.5s;
}

h2 {
  font-family: 'gothicbold';
  font-size: 46px;
  color: white;
  margin-left: 80px;
  margin-top: 230px;
  letter-spacing: 8px;
  /*position: absolute;*/
  z-index: 2;
}

h3 {
  font-family: 'gothic';
  font-size: 25px;
  color: rgb(92, 224, 244);
  margin-left: 80px;
  margin-top: 10px;
  letter-spacing: 8px;
  /*position: absolute;*/
  z-index: 2;
}

h4 {
  font-family: 'gothicbold';
  font-size: 230px;
  color: white;
  opacity: .2;
  margin-left: 80px;
  margin-top: 46px;
  position: absolute;
  z-index: 2;
}

/*--CONTACT--*/

.contact-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact-form h1 {
  margin-left: 6%;
  margin-top: 15%;
  position: relative;
  margin-bottom: 20px;
}

.contact-form {
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgb(9, 18, 25);
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, .5);
}

.contact-info {
  width: 50%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 100px;
  right: 0;
  overflow-y: hidden;
}

.contact-info h2 {
  font-size: 38px;
  letter-spacing: 4px;
  margin-left: auto;
  margin-top: auto;
  position: initial;
}

h2 a {
  color: rgb(92, 224, 244);
  font-size: 38px;
  font-family: 'lato';
}

.contact-text {
  font-family: 'lato-thin';
  font-size: 20px;
  color: rgb(210, 210, 210);
}

.contact-info-container {
  margin-top: 160px;
}

.contact-links {
  width: 100%;
  height: 150px;
}

.contact-links a {
  display: inline-block;
  margin-left: 10px;
}

.contact-links img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
}

form {
  width: 90%;
  margin: auto;
}

.form-format {
  width: 100%;
  height: 45px;
  background: rgb(3, 10, 17);
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-family: 'gothic';
  padding: 15px;
  box-sizing: border-box;
  margin-top: 30px;
}

textarea.form-format {
  height: 130px;
  border-radius: 30px;
}

.submit-form {
  border: 2.5px solid rgb(190, 190, 190);
  border-radius: 20px;
  background: 0;
  padding: 10px 30px;
  font-size: 15px;
  font-family: 'gothic';
  letter-spacing: 4px;
  z-index: 1;
  position: absolute;
  color: white;
  margin-top: 30px;
}

.submit-form:hover{
  border-color: rgb(92, 224, 244);
  color: rgb(92, 224, 244);
  transition: 0.5s;
}

@media only screen and (max-width: 1000px) {

  h1 {
    font-size: 35px;
    margin-left: 50px;
  }

  h1 a {
    font-size: 35px;
  }

  .nav-logo a {
    display: none;
  }

  nav img {
    width: 25px;
    padding: 20px;
  }

  .tophand {
    top: 130px;
  }

  #topout {
    top: 160px;
  }

  #topout1 {
    top: 200px;
  }

  .contact-form {
    width: 60%;
  }

  .contact-info {
    padding: 30px;
    width: 40%
  }

  .contact-info-container {
    margin-top: 40%;
  }

  .contact-info h2, h2 a {
    font-size: 30px;
  }

  .contact-text {
    font-size: 16px;
  }

}

@media only screen and (max-width: 650px) {

  nav {
    height: 100vh;
  }

  nav img {
    width: 20px;
  }

  .list-toggle {
    display: none;
  }

  nav ul {
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 50px;
    text-align: center;
  }

  li {
    display: list-item;
    line-height: 100px;
  }

  li a {
    font-size: 40px;
  }

  .nav-toggle {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  .nav-toggle img {
    width: 40px;
    height: auto;
    left: auto;
    right: 20px;
    padding-top: 0;
    display: block;
  }

  .nav-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 3;
    display: none;
  }

  .about-container h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
  }

  .about-container h1 a {
    font-size: 40px;
  }

  .about-text {
    width: 100%;
    top: 120px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
  }

  .about-visuals {
    width: 100%;
  }

  .about-visuals img {
    object-position: center;
  }

  .about-shape {
    right: -110px;
    top: 380px;
    height: 60%;
  }

  .face-outline {
    width: 100%;
    height: 40%;
    top: 380px
  }

  .download-position {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .download-container {
    text-align: center;
    height: 50px;
    margin-top: 680px;
  }

  .download {
    top: 16px;
    margin-left: auto;
    position: relative;
  }

  h2 {
    margin-left: auto;
    text-align: center;
    font-size: 40px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
  }

  h3 {
    margin-left: auto;
    text-align: center;
    padding: 0 8px 0 8px;
  }

  h4 {
    margin-left: auto;
    text-align: center;
    width: 100%;
  }

  .project1 {
    margin-top: 80px;
  }

  .contact-info {
    display: none;
  }

  .contact-form {
    width: 100%;
  }

  .btn-container {
    text-align: center;
    margin-top: 80vh;
  }

  .btn-position {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .explore {
    margin-top: auto;
    margin-left: auto;
    position: relative;
    font-size: 20px;
    border: 3.5px solid white;
    border-radius: 25px;
    padding: 12px 25px;
  }

  .image-overlay {
    background:  linear-gradient(0deg, rgba(10,10,10,0.9) 0%, rgba(30,30,30,0.7) 18%, rgba(70,70,70,0.4) 33%, rgba(32,47,62,0) 64%);
  }

  h1 {
    margin-left: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 42px;
    width: 100%;
  }

  h1 a {
    font-size: 42px;
  }

  .topgroup {
    width: 70%;
    right: -100px;
  }

  .tophand {
    top: 280px;
  }

  #topout {
    top: 330px;
  }

  #topout1 {
    top: 380px;
  }

  .bottomgroup {
    width: 70%;
    left: -100px;
  }

  .bottomhand {
    top: 380px;
  }

  #bottomout {
    top: 420px;
  }

  #bottomout1 {
    top: 470px;
  }

  #about {
    margin-top: 0;
  }

  .contact-form h1 {
    margin-left: auto;
  }

}

@media only screen and (min-width: 651px) {

  ul {
    display: block !important;
  }
}

@media only screen and (max-width: 500px) {

  .topgroup {
    width: 80%;
  }

  .bottomgroup {
    width: 80%;
  }

  .about-shape {
    right: auto;
    top: 380px;
    height: 50%;
  }
}
