* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "gothic";
  src: url("Fonts/GOTHIC.eot");
  src: url("Fonts/GOTHIC.eot?#iefix") format("embedded-opentype"),
    url("Fonts/GOTHIC.woff") format("woff"),
    url("Fonts/GOTHIC.ttf") format("truetype"),
    url("Fonts/GOTHIC.svg#Century Gothic") format("svg");
}
@font-face {
  font-family: "gothicbold";
  src: url("Fonts/GOTHICB.ttf") format("truetype"),
    url("Fonts/GOTHICB.woff") format("woff"),
    url("Fonts/GOTHICB.eot?#iefix") format("embedded-opentype"),
    url("Fonts/GOTHICB.svg#GOTHICB") format("svg");
}
@font-face {
  font-family: "catamaran";
  src: url("Fonts/Catamaran-Light.ttf") format("truetype");
}

body {
  background: linear-gradient(45deg, #0b1117, #181818, #0e2732, #123e51);
  background-attachment: fixed;
  font-size: 16px;
}

.scrollmagic-pin-spacer {
  height: 100% !important;
  overflow-y: hidden;
}

/*-- NAVIGATION --*/
nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 5;
}

nav a {
  margin-top: 30px;
  font-size: 1em;
}

ul {
  position: absolute;
  right: 0;
  width: 70%;
  text-align: right;
  display: block;
}

li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
  padding: 20px 5% 0;
}

li a {
  text-decoration: none;
  font-family: "gothic";
  color: white;
  letter-spacing: 4px;
  font-size: 1em;
}

.nav-logo {
  width: 400px;
  height: 65px;
  margin-left: 80px;
  line-height: 30px;
  padding-top: 5px;
  text-decoration: none;
  font-family: "gothic";
  color: white;
  letter-spacing: 4px;
  font-size: 1em;
  position: absolute;
  top: 0px;
}

nav img {
  width: 35px;
  height: auto;
  background-size: cover;
  position: fixed;
  padding: 10px 15px;
}

.nav-toggle img {
  display: none;
}

ul li a:hover {
  color: rgb(23, 203, 200);
}

p {
  font-family: "catamaran";
  font-size: 1em;
  color: rgb(210, 210, 210);
  vertical-align: top;
  display: inline-block;
}

.menu-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(23, 203, 200);
  transition: width 0.3s;
}

.menu-hover:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*-- SCROLL MOUSE ANIMATION--*/
.mousescroll {
  width: 100%;
  height: 8%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  box-sizing: border-box;
  opacity: 1;
}

.mouseshape {
  width: 1.3em;
  height: 2.1em;
  border: 1.8px solid;
  border-color: white;
  border-radius: 50px;
  margin: 0 auto;
  opacity: 0.6;
}

.mousedot {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 5px;
  animation: moused 1.8s ease infinite;
}

@keyframes moused {
  from {
    margin-top: 5px;
    opacity: 0.6;
  }
  to {
    margin-top: 18px;
    opacity: 0;
  }
}

/* -- SOCIAL MEDIA LOGOS --*/
.smlogo {
  right: 0px;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.smlogo img {
  width: 1.4em;
  height: auto;
  opacity: 0.5;
  padding: 0 8px 8px 0;
  display: block;
}

.smlogo img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/*--SCROLL BAR--*/
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  border-radius: 6px;
}

/*-- HEADINGS AND TEXT --*/

h1 {
  font-family: "gothicbold";
  font-size: 2.6em;
  color: white;
  letter-spacing: 0.2em;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.project-text {
  position: absolute;
  filter: blur(8px);
  opacity: 0;
  transition: all 0.5s ease-in;
}

h1 a {
  color: rgb(92, 224, 244);
  font-size: 1em;
  font-family: "gothicbold";
}

h2 {
  font-family: "gothicbold";
  font-size: 3.5em;
  color: white;
  margin-top: 200px;
  letter-spacing: 8px;
  z-index: 2;
}

h3 {
  font-family: "gothic";
  font-size: 1.5em;
  color: rgb(92, 224, 244);
  margin-top: 10px;
  letter-spacing: 8px;
  z-index: 2;
}

h4 {
  font-family: "gothicbold";
  font-size: 14.4em;
  color: white;
  opacity: 0.2;
  z-index: 2;
}

h5 {
  font-family: "gothicbold";
  font-size: 1.2em;
  color: rgb(57, 57, 57);
}

/*--ABOUT SECTION--*/

.content-align {
  margin-left: 6%;
}

.about-container {
  display: flex;
}

.about-container h1 {
  margin-top: 20%;
  position: relative;
  font-size: 3.4em;
  opacity: 0;
}

.about-text-container {
  flex: 1;
}

.about-text a {
  font-family: "catamaran";
  font-size: 1.25em;
  color: rgb(210, 210, 210);
}

button {
  font-size: 1em;
}

.about-text {
  width: 70%;
  margin-top: 25px;
  opacity: 0;
}

.button-main {
  border: 2.5px solid rgb(190, 190, 190);
  border-radius: 30px;
  background: 0;
  padding: 10px 20px;
  font-size: 1em;
  font-family: "gothic";
  letter-spacing: 4px;
  z-index: 1;
  position: absolute;
  color: white;
  box-shadow: inset 0 0 0 0 rgb(92, 224, 244);
  text-decoration: none;
}

.button-main:hover {
  border-color: rgb(92, 224, 244);
  box-shadow: inset 0 200px 0 0 rgb(92, 224, 244);
  color: #0b1117;
  transition: 0.4s ease-out;
}

.about-visuals {
  flex: 1;
  opacity: 0;
}

.face-outline {
  height: 90%;
  width: 70%;
  opacity: 0;
}

.about-shape {
  width: 100%;
}

a {
  font-size: 1.3em;
  font-family: "gothic";
  color: white;
}

/*-- HAND IMAGES --*/
.landing-container {
  display: flex;
  height: 100vh;
}
.landing-text-container {
  flex: 60%;
  padding: 15% 0 0 6%;
  z-index: 2;
  transition: all 0.8s ease-out;
}
/* change font size in h1 property later. cbf rn */
.landing-text-container h1 {
  font-size: 6rem;
}

.landing-device-container {
  flex: 40%;
  height: 100%;
  margin: 0 0 0 auto;
  position: relative;
}

.landing-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-img {
  width: 30%;
  max-height: 30%;
  position: absolute;
  z-index: 1;
  padding: 15px;
}

.landing-img:hover {
  padding: 0;
  transition: all 0.5s ease-out;
}

.landing-img:hover + .landing-project-img {
  opacity: 0.5;
  transition: all 0.5s ease-out;
}

.landing-project-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.img1 {
  top: 10%;
  transition: all 0.5s ease-in;
}

.img2 {
  max-height: 45%;
  top: 30%;
  right: 10%;
  transition: all 0.5s ease-in;
}

.img3 {
  bottom: 10%;
  width: 60%;
  transition: all 0.5s ease-in;
}

.landing-box {
  width: 70%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.83) 28%,
    rgba(0, 0, 0, 0.63) 82%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.4;
  margin: 0 auto;
  align-content: center;
  transition: all 0.5s ease-in;
}

.topgroup {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 2s ease-out;
}

.topgroup.fade-out {
  right: -60%;
}

.bottomgroup {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0%;
  transition: all 2s ease-out;
}

.bottomgroup.fade-out {
  left: -60%;
}

.handpin {
  width: 100%;
  height: 101vh;
  position: absolute;
}

.hand-height {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.tophand {
  width: 88%;
  height: auto;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
}

.bottomhand {
  width: 88%;
  height: auto;
  position: absolute;
  top: 250px;
  left: 0;
  z-index: 2;
}

.hand-outline {
  z-index: 1;
  transition-timing-function: ease-out;
}

#topout {
  top: 90px;
  animation: transIntop1 1.6s;
  animation-delay: 1s;
}

#bottomout {
  top: 300px;
  animation: transInbottom1 1.6s;
  animation-delay: 1s;
}

#topout1 {
  top: 120px;
  opacity: 0.3;
  animation: transIntop2 1.6s;
  animation-delay: 1s;
}

#bottomout1 {
  top: 330px;
  opacity: 0.3;
  animation: transInbottom2 1.7s;
  animation-delay: 1.2s;
}

.scrollpoint1 {
  width: 100%;
  height: 80px;
  margin-top: 100.5vh;
}

/*--WORK--*/
#work {
  margin-top: 12%;
}

#work h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
}

.fade-in {
  opacity: 0;
}

.work-text-container {
  width: 100%;
  height: 50vh;
  margin-top: 20vh;
  overflow-y: hidden;
  position: absolute;
  z-index: 2;
}

.image-container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  opacity: 0;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 0.9) 0%,
    rgba(30, 30, 30, 0.7) 18%,
    rgba(70, 70, 70, 0.4) 33%,
    rgba(32, 47, 62, 0) 64%
  );
}

.projectbg {
  width: 100%;
  height: 125%;
  object-fit: cover;
}

.project1 {
  width: 100%;
  margin-top: 120px;
  overflow-y: hidden;
}

.project2 {
  width: 100%;
  overflow-y: hidden;
}

.explore {
  margin-top: 30px;
}

.project-number {
  position: absolute;
  width: 100%;
  top: 20px;
}

/*--CONTACT--*/
.contact-container {
  height: 100vh;
  position: relative;
}

.contact-form h1 {
  margin: 8% 6% 2%;
  position: relative;
}

.contact-form {
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgb(9, 18, 25);
  padding: 50px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
}

.contact-info {
  width: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 100px;
  right: 0;
  overflow-y: hidden;
}

.contact-info h2 {
  font-size: 2.4em;
  letter-spacing: 4px;
  margin: auto;
}

h2 a {
  color: rgb(92, 224, 244);
  font-size: 1em;
  font-family: "gothicbold";
}

.contact-text {
  font-family: "catamaran";
  color: rgb(210, 210, 210);
}

.contact-info-container {
  margin-top: 120px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.contact-details {
  flex: 1;
  margin-top: 1rem;
}

.contact-links a {
  display: inline-block;
  margin-left: 10px;
}

.contact-links img {
  height: 35px;
}

/*--FORM--*/
form {
  width: 90%;
  margin: auto;
}

.form-format {
  width: 100%;
  height: 2.3em;
  background: rgb(3, 10, 17);
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  font-size: 1.25em;
  font-family: "gothic";
  padding: 15px;
  box-sizing: border-box;
  margin-top: 2em;
}

textarea.form-format {
  height: 6em;
  border-radius: 30px;
}

.submit-form {
  margin-top: 30px;
  cursor: pointer;
}

/*-- CONTACT RETURN --*/
.contact-return {
  text-align: center;
  font-size: 3em;
  margin: 250px 0 0 auto;
  position: relative;
  letter-spacing: 5px;
}

.return-container {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 20px 0 0;
  margin-top: 50px;
}

.return-btn {
  position: relative;
}

@media only screen and (min-width: 1680px) {
  body {
    font-size: 23px;
  }

  h1 {
    font-size: 5rem;
  }

  .button-main {
    border: 3px solid rgb(190, 190, 190);
  }
}

@media only screen and (min-height: 900px) {
  .hand-height {
    top: 90px;
  }

  #topout {
    top: 110px;
  }

  #topout1 {
    top: 180px;
  }

  #bottomout {
    top: 330px;
  }

  #bottomout1 {
    top: 380px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 13px;
  }

  .nav-logo a {
    display: none;
  }

  nav img {
    width: 25px;
    padding: 20px;
  }

  .tophand {
    top: 130px;
  }

  #topout {
    top: 160px;
  }

  #topout1 {
    top: 200px;
  }

  .project-number {
    top: 100px;
  }

  .contact-form {
    width: 60%;
  }

  .contact-info {
    padding: 30px;
    width: 40%;
  }

  .contact-info-container {
    margin-top: 40%;
  }

  .contact-form h1 {
    margin: 2% 6% 0;
    position: relative;
  }

  .form-format {
    height: 35px;
    margin-top: 20px;
  }

  textarea.form-format {
    height: 100px;
  }
}
@media only screen and (max-width: 650px) {
  nav {
    height: auto;
    display: table;
  }

  nav img {
    width: 20px;
  }

  .list-toggle {
    display: none;
  }

  ul {
    position: relative;
  }

  nav ul {
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 50px;
    text-align: center;
  }

  li {
    display: list-item;
    line-height: 100px;
  }

  li a {
    font-size: 3em;
  }

  .content-align {
    margin: auto;
  }

  .handpin h1 {
    margin: 100px 0 0 0;
  }

  .nav-toggle {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  .nav-toggle img {
    width: 40px;
    height: auto;
    left: auto;
    right: 5px;
    padding-top: 0;
    display: block;
  }

  .nav-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 3;
    display: none;
  }

  .about-container h1 {
    margin: 40px 0 0 auto;
  }

  .about-text {
    width: 100%;
    text-align: center;
    padding: 0 35px;
    box-sizing: border-box;
  }

  .about-visuals {
    display: none;
  }

  .download-container {
    text-align: center;
    padding: 20px;
  }

  h2 {
    text-align: center;
    padding: 0 8px 0 8px;
  }

  h3 {
    text-align: center;
    padding: 0 8px 0 8px;
  }

  h4 {
    text-align: center;
    width: 100%;
  }

  .work-text-container {
    height: auto;
  }

  .project1 {
    margin-top: 80px;
  }

  .contact-info {
    display: none;
  }

  .contact-form {
    width: 100%;
  }

  .btn-container {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
  }

  .btn-position {
    width: 100%;
  }

  .button-main {
    margin: auto;
    position: relative;
    border: 3.5px solid white;
    border-radius: 25px;
    padding: 12px 25px;
  }

  .image-overlay {
    background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 0.9) 0%,
      rgba(30, 30, 30, 0.7) 18%,
      rgba(70, 70, 70, 0.4) 33%,
      rgba(32, 47, 62, 0) 64%
    );
  }

  h1 {
    margin: 20% 0 0 auto;
    text-align: center;
    width: 100%;
  }

  .topgroup {
    width: 70%;
    right: -100px;
  }

  .tophand {
    top: 280px;
  }

  #topout {
    top: 330px;
  }

  #topout1 {
    top: 380px;
  }

  .bottomgroup {
    width: 70%;
    left: -100px;
  }

  .bottomhand {
    top: 380px;
  }

  #bottomout {
    top: 420px;
  }

  #bottomout1 {
    top: 470px;
  }

  #about {
    margin-top: 0;
  }

  .contact-form h1 {
    margin: 5% 0 0 auto;
  }
}
@media only screen and (min-width: 651px) {
  ul {
    display: block !important;
  }
}
@media only screen and (max-width: 500px) {
  .topgroup {
    width: 80%;
  }

  .bottomgroup {
    width: 80%;
  }
}
